.header{
    padding-top: 20px;
    width: 100%;
    position: relative;
}
.record{
    margin-left: 20px;
    font-size: 20px;

}
.login{
    margin-right: 20px;
    position: absolute;
    right: 0;
    font-size: 20px;
}