.mypage {
    position: absolute;
    right: 10px;
    background-color: rgba(28, 72, 110, 0.174);
    display: inline;
    width: 55px;
    height: 59px;
    border-radius: 5px;
    z-index: 3;
}

.button {
    background-color: rgba(230, 255, 68, 0.304);
    border-radius: 5px;
}