
.sudoku{
    background-color: aqua;
    margin-top: -300px;
    position:absolute;
    margin: auto;
    width:700px;
    height: 600px;
    z-index: 2;
}
.closeSudoku{
    position: relative;
    right: 50px;
    float: right;
    width: 50px;
    height: 50px;
    background:none;
    align-self: end;
    border: 0 ;
    font-size: 35px;
    z-index: 5;
    transition: 0.3s;
}
.closeSudoku:hover{
    transform:scale(1.2) ;
}